<?xml version="1.0" encoding="UTF-8"?>
<application>
  <title>Balonmano</title>
  <coverFileName>portada.xml</coverFileName>
  <stylesFileName>styles.xml</stylesFileName>
  <formatsFileName>formats.xml</formatsFileName>
  <entryPoint>
    <pointLevelId/>
    <pointDataId/>
  </entryPoint>
  <menu>
    <topMenu>top_menu.xml</topMenu>
    <bottomMenu/>
  </menu>
  <banner>
    <type>yoc</type>
    <!-- puede ser admob / yoc -->
    <position/>
    <!-- puede ser top / bottom -->
    <id/>
    <!-- url de php que rota o el id de admob -->
  </banner>
  <levels>
    <level>
      <levelId>7758</levelId>
      <levelTitle>Historia</levelTitle>
      <levelFile>historia_7758.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>4447</levelId>
      <levelTitle>Reglas</levelTitle>
      <levelFile>reglas_4447.xml</levelFile>
      <levelType>LIST_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>9726</levelId>
      <levelTitle>Campo de juego</levelTitle>
      <levelFile>campo_de_juego_9726.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>5783</levelId>
      <levelTitle>Balón</levelTitle>
      <levelFile>balon_5783.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>158</levelId>
      <levelTitle>El equipo</levelTitle>
      <levelFile>el_equipo_158.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>526</levelId>
      <levelTitle>Duración y resultado</levelTitle>
      <levelFile>duracion_y_resultado_526.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>7297</levelId>
      <levelTitle>Equipos</levelTitle>
      <levelFile>equipos_7297.xml</levelFile>
      <levelType>LIST_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>9526</levelId>
      <levelTitle>Fútbol Club Barcelona</levelTitle>
      <levelFile>futbol_club_barcelona_9526.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>688</levelId>
      <levelTitle>BM Ciudad Real</levelTitle>
      <levelFile>bm_ciudad_real_688.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>3664</levelId>
      <levelTitle>Portland San Antonio</levelTitle>
      <levelFile>portland_san_antonio_3664.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>5595</levelId>
      <levelTitle>Reale Ademar</levelTitle>
      <levelFile>reale_ademar_5595.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>6468</levelId>
      <levelTitle>Posiciones</levelTitle>
      <levelFile>posiciones_6468.xml</levelFile>
      <levelType>LIST_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>6705</levelId>
      <levelTitle>Guardameta</levelTitle>
      <levelFile>guardameta_6705.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>7617</levelId>
      <levelTitle>Central</levelTitle>
      <levelFile>central_7617.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>4815</levelId>
      <levelTitle>Extremo</levelTitle>
      <levelFile>extremo_4815.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>1893</levelId>
      <levelTitle>Lateral</levelTitle>
      <levelFile>lateral_1893.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
    <level>
      <levelId>1234</levelId>
      <levelTitle>Pivote</levelTitle>
      <levelFile>pivote_1234.xml</levelFile>
      <levelType>IMAGE_TEXT_DESCRIPTION_ACTIVITY</levelType>
      <levelXib/>
      <levelTransition>slide</levelTransition>
    </level>
  </levels>
</application>
